
/*Medium devices (mobile)si la largeur de l'appareil est inférieure ou égale à 767px, appliquez le CSS défini dans ce bloc*/
@media only screen and (max-width:767px)
{
	


	body 
	{
		margin: 0; /*pour que l'ordi ne mette pas une marge en plus sur toute la page*/
		font-family: 'Roboto', sans-serif;
	}



	.header-mobile/*logo */
	{
		display: flex;
		justify-content: center;
		margin-top: 20px;
		/* concerne les marges exterieures  */
		margin-bottom: 10px;
		
	}

	.logo
	{
		margin-top: 20px;
		/* concerne les marges exterieures  */
		margin-bottom: 10px;
		font-family: 'Shrikhand', cursive;
		width: 76%;
	}

	.recherche
	{
		display: flex;
		justify-content: center;
		background-color: #CECECE;
		/* Gris Perle*/
		width: 110%;
		border-top: solid 4px #9E9E9E;
		/*trait foncé au dessus de Paris */
	}

	/*.fas.fa-map-marker-alt icone recherche
	{
		border: none;
		padding: 15px;*/
		/* pour grossir le rond*/
	}

	input  /* Paris, Belleville*/
	{
		border: none;
		width: 200px;
		height: 42px;
		font-size: 1.1rem;
		font-weight: bold;
		background-color: #CECECE;	/*Gris Perle*/
		
	}
	
	::placeholder /* couleur noire Paris, Belleville/ Le pseudo-élément ::placeholder représente le texte de substitution  
	pour un élément <input> ou <textarea>. Cela permet aux développeurs web de personnaliser l'apparence de ce texte.
	Le texte de substitution est généralement représenté avec une couleur plus claire afin d'indiquer qu'il s'agit d'une suggestion 
	et que ce contenu n'a pas été saisi par l'utilisateur ou par le site même*/
	
	{
		color: blue;
		
	}

	/*section 1 */
	h1
	{
		color: blue;
		margin-left: 20px;
		font-size: 1rem
		/* concerne les marges exterieures */
	}

	h3 /*  prenez le syndicat qui vous convient*/
	{
		margin-left: 20px;
		font-size: 1.4rem
		/* concerne les marges exterieures */
	}

	h3
	{
		color: blue;
	}

	.reservez
	{
		background-color: #F2F2F2;
		/*gris clair*/
		flex-direction: column;
		width: 110%;
		display: flex;
		align-items: center;
	}

	.com-bts
	{
		display: flex;
		justify-content: center;
		/*cela centre le mot dans son contour*/
	}

	.searchbuttons
	{
		font-size: 1rem;
		color: white;
		border: solid 2px none;/* pas de couleur pour le contour*/
		border-radius: 25px;
		height: 3rem;
		width: 15rem;
		padding-left: 15px;
		/* concerne les marges interieures */
		padding-right: 15px;
		margin-bottom: 40px;
		background:linear-gradient(#00caff, #790915);
		/*dégradé linéaire couleur Héliotrope-Bleu persan */
		font-weight: bold;
		box-shadow: 0px 3px #aaa;
		opacity: 1;

	}

	.searchbuttons:hover  /*une couleur se met dès qu'on survol le mot à l'interieur de l'encadrement, un encadrement de couleur grise apparait */
	
	{
		color: red;
		background-color: white;
		box-shadow: 7px 6px 27px 0px rgba(0,0,0,0.75);
		cursor: pointer;
		/*définit la forme du curseur lorsque le pointeur est au-dessus de l'élément, Le curseur est un pointeurqui indique un lien,généralement c'est une main.*/
		opacity: 0.7;
	}

	/* Section 2*/

	/*.titre mot fonctionnement
	
	{
		margin-left: 15px;
		padding-bottom: 10px;
	} */

	.fonct /*bloc : fonctionnement restaurant menu dégustez*/
	
	{
		display: flex;
		justify-content: center;
		margin: 20px 0 40px 0;
		/* marges exterieures haut/droite/bas/gauche */
		width: 100%;
		background-color: white;
	}

	.fi /*bloc : restaurant menu dégustez*/
	
	{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		/*les éléments vont à la ligne lorsqu'il n'y a plus la place*/
		margin-bottom: 10px;
		/* marges exterieures*/
	}

	.fi span /*concerne les mots : les mots restaurant menu dégustez*/
	
	{
		display: flex;
		margin-bottom: 10px;
		/* marges exterieures*/
		margin-top: 10px;
		padding-right: 30px;
		/*pour agrandir le cadre*/
		font-weight: bold;
	}

	.contour /* contour les mots restaurant menu dégustez*/
	
	{
		display: flex;
		align-items: center;
		border: solid 2px #F2F2F2;
		border-radius: 25px;
		background-color: white;
		margin-bottom: 20px;
		z-index: 1;
		margin-left: -10px;
		width: 80%;
	}

	.contour:hover  /*une couleur se met dès qu'on survol le mot à l'interieur de l'encadrement, un encadrement de couleur grise apparait */
	
	{
		color: black;
		background-color: #F9F0FF; 
		cursor: pointer;
		/*définit la forme du curseur lorsque le pointeur est au-dessus de l'élément, Le curseur est un pointeurqui indique un lien,généralement c'est une main.*/
	}

	
	.fas.fa-mobile-alt /* icone restaurant*/
	
	{
		margin-right: 10px;
		/*marges exterieures à l'interieur du cadre*/
		margin-left: 10px;
		padding-left: 15px;
	}

	.fas.fa-mobile-alt:hover /* pour que l'icône se mette en violet quand on clique*/
	{
		color: #9356DC ;
		cursor: pointer;
	}
	
	.fas.fa-list-ul /* icone menu*/
	
	{
		margin-right: 10px;
		/*marges exterieures*/
		margin-left: 10px;
		padding-left: 15px;
	}

	.fas.fa-list-ul:hover /* pour que l'icône se mette en violet quand on clique*/
	{
		color: #9356DC ;
		cursor: pointer;
	}

	.fas.fa-store /* icone degustez*/
	
	{
		margin-right: 10px;
		/*marges exterieures*/
		margin-left: 10px;
		padding-left: 15px;
	}

	.fas.fa-store:hover /* pour que l'icône se mette en violet quand on clique*/
	{
		color: #9356DC ;
		cursor: pointer;
	}

	.number
	{
		border: #DEEBFF solid 1px;
		border-radius: 50%;
		padding: 9px;
		color: white;
		font-size: 0.7rem;
		height: 0.7rem;
		width: 0.7rem;
		background-color: blue ;
		/*primaire: violet*/
		text-align: center;
		/*pour centrer le chiffre*/
		margin-left: 37px;
		margin-top: 7px;
		z-index: 2;
	}



	@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
	}




	.loader {
  		border: 14px solid #FF79DA ;
  		border-radius: 50%;
  		border-top: 14px solid #9356DC ;
  		border-bottom: 14px solid #99E2D0;
  		position: absolute;
  		left: 35%; /*pour centrer le loader*/
  		top: 35%;
  		width: 120px;
  		height: 120px;
  		animation: spin 2s linear ;
  		z-index: -1;
	}

	
	@keyframes spin {
  		0% { transform: rotate(0deg); }
  		100% { transform: rotate(360deg);}
  		 
	}


	body .page
	{
	
	animation: fadein 3s;
	}



	/*section3 Restaurants*/
	.central
	{
		width: 110%;
		background-color: #F2F2F2;
	}

	.conteneur1/* concerne les restos de la 1ère page */
	
	{
		display: flex;
		flex-direction: column;
		color: #000000;
		/*couleur noire*/
		text-align: left;
		width: 90%;
		margin-left: 20px;
		/*marges exterieures*/
		margin-right: 20px;
		background-color: #F2F2F2;
	}

	.nouveau
	{
		color: #22780F;
		/* Vert de vessie*/
		font-weight: bold;
		font-size: 1rem;
		border-radius: 2px;
		background-color: #99E2D0;
		/*Vert d'eau*/
		padding: 10px;
		/* concerne les marges intérieures */
		width: 70px;
		height: 15px;
		margin-top: -140px;
		margin-bottom: 120px;
		margin-left: 260px;
		position: absolute;
		/*pour que nouveau apparaisse sur l'image*/
	}

	.element1 /*La palette du goût et le délice des sens*/
	
	{
		box-shadow: 0px 8px 12px #aaa;
		border-radius: 20px;
		/* concerne l'arrondi de l'encadrement */
		align-self: baseline;
		/*placement dans la box*/
		margin-bottom: 25px;
		/* concerne les marges exterieures bas */
		padding-bottom: 3px;
		/* concerne  marge interieure bas  */
		cursor: pointer;
		/*définit la forme du curseur lorsque le pointeur est au-dessus de l'élément, Le curseur est un pointeur qui indique un lien,généralement c'est une main.*/
		background-color: white;
	}

	.phot /*photo elements */
	
	{
		width: 360px;
		height: 150px;
		object-fit: cover;	/*l'image sera découpée pour s'adapter*/
		border-top-right-radius: 15px;
		border-top-left-radius: 15px;
		
	}

	.lieu /*noms des lieux pour activites*/
	
	{
		color: #000000;
		/*couleur noire*/
		font-size: 1.1em;
		font-weight: bold;
		padding-left: 10px;	/* concerne les marges interieures gauche  */
		padding-top: 10px;
		padding-bottom: 10px;
		display: flex;
		justify-content: space-between;
	}

	
	.coeur-effet .fas 
	{
  		color: transparent;
  		background: linear-gradient(#ff79da, #5680dc);
  		-webkit-background-clip: text; /*pour que la couleur remplisse juste le coeur*/
  		opacity: 0; /*pour qu'il n'apparait pas*/
  		font-size: 1.5rem;
  		margin-left: -52px;
  		/*margin-top: 10px;*/
 	}

	.coeur-effet .far 
	{
  		margin-left: -28px;
  		font-size: 1.5rem;
	}

	.coeur-effet:hover .fas 
	{
		opacity: 1;
  		transition: 1s;
  		cursor: pointer;
	}

	.coeur-effet:hover .far 
	{
  		opacity: 0;
  		transition: 1s;
  		cursor: pointer;
	}


	/*section footer*/
	footer
	{
		background-color: #303030;
		flex-direction: column;
		width: 110%;
		padding-bottom: 15px;
	}

	.foot /* concerne l'alignement footer */
	
	{
		display: flex;
		margin-left: 20px;
	}

	.petitlogo
	{
		color: white;
		padding-top: 25px;
		padding-bottom: 5px;	/* concerne  marge interieure bas  */
		margin-bottom: 10px;
		font-family: 'Shrikhand', cursive;
		font-size: 1.3rem;
	}

	h4
	{
		color: white;
	}

	h4:hover  /*une couleur se met dès qu'on survol le mot à l'interieur de l'encadrement, un encadrement de couleur grise apparait */
	
	{
		color: #0065FC;
		background-color: #F2F2F2;
		cursor: pointer;	/*définit la forme du curseur lorsque le pointeur est au-dessus de l'élément, Le curseur est un pointeurqui indique un lien,généralement c'est une main.*/
	}

	.fas.fa-utensils
	{
		margin-right: 10px;
	}

	.fas.fa-hands-helping
	{
		margin-right: 10px;
	}

	.contact
	{
		color: white;
	}

	/*2ème page TELEPHONE PORTABLE*/

	/*header*/

	header/*logo */
	
	{
		display: flex;
		justify-content: start;
		margin-top: 20px;	/* concerne les marges exterieures  */
		margin-bottom: 10px;
		width: 100% !important;
	}

	header i
	{
		margin-left: 15px;
		margin-right: 120px;
		font-size: 2rem;
		color: black;
	}

	/*section 1*/
	.phototoa
	{
		width: 615px;
		height: 250px;
		object-fit: cover;	/*l'image sera découpée pour s'adapter*/
	}

	/*section 2*/
	.deuxiemepage
	{
		background-color: #F2F2F2;
		/* gris clair*/
		flex-direction: column;
		width: 150%;
		display: flex;
		font-weight: bold;
		margin-top: -50px;	/*marges exterieures*/
		position: absolute;	/*pour que le pavé à la française déborde sur la photo*/
		border-top-right-radius: 25px;
		border-top-left-radius: 25px;
	}

	.conteneur2/* concerne la 2ème page*/
	
	{
		display: flex;
		flex-direction: column;
		color: #000000;	/*couleur noire*/
		text-align: left;
		width: 113%;
		background-color: #F2F2F2;
		border-top-right-radius: 25px;
		border-top-left-radius: 25px;
		
	}

	.francaise 
	{
		font-size: 1.9rem;
		font-weight: bold;
		font-style:italic;
		font-family: 'Shrikhand', cursive;
		display: flex;
		justify-content: space-between;	/*pour que le prix se mette à droite*/
		margin-top: 20px;
		margin-left: 55px;
	}

	
	.a-la-francaise .fas /*coeur plein A la Française 2ème */
	{
  		color: transparent;
  		background: linear-gradient(#ff79da, #9356dc);
  		-webkit-background-clip: text; /*permets que la couleur violette remplisse juste le coeur sinon c'est un rectangle violet qui apparait*/
  		opacity: 0;
  		font-size: 1.5rem;
  		margin-left: 220px;
		margin-top: 10px;
 	}

	.a-la-francaise .far /*coeur vide*/
	{
  		margin-left: -37px;
  		margin-right: 80px;
  		margin-top: 10px;
  		font-size: 1.5rem;
  	}

	.a-la-francaise:hover .fas 
	{
		opacity: 1;
  		transition: 1s;
  		cursor: pointer;
  	}

	.a-la-francaise:hover .far 
	{
  		opacity: 0;
  		transition: 1s;
  		cursor: pointer;
  	}
	
	.la-note .fas /*coeur plein LA NOTE ENCHANTEE 3ème page*/
	{
  		color: transparent;
  		background: linear-gradient(#ff79da, #9356dc);
  		-webkit-background-clip: text; /*permets que la couleur violette remplisse juste le coeur sinon c'est un rectangle violet qui apparait*/
  		opacity: 0;
  		font-size: 1.5rem;
  		margin-left: 150px;
		margin-top: 10px;
 	}

	.la-note .far /*coeur vide*/
	{
  		margin-left: -37px;
  		margin-right: 70px;
  		margin-top: 10px;
  		font-size: 1.5rem;
  	}

	.la-note:hover .fas 
	{
		opacity: 1;
  		transition: 1s;
  		cursor: pointer;
  	}

	.la-note:hover .far 
	{
  		opacity: 0;
  		transition: 1s;
  		cursor: pointer;
  	}

	.la-palette .fas /*coeur plein La palette du goût 4ème page*/
	{
  		color: transparent;
  		background: linear-gradient(#ff79da, #9356dc);
  		-webkit-background-clip: text; /*permets que la couleur violette remplisse juste le coeur sinon c'est un rectangle violet qui apparait*/
  		opacity: 0;
  		font-size: 1.5rem;
  		margin-left: 150px;
		margin-top: 10px;
 	}

	.la-palette .far /*coeur vide*/
	{
  		margin-left: -37px;
  		margin-right: 85px;
  		margin-top: 10px;
  		font-size: 1.5rem;
  	}

	.la-palette:hover .fas 
	{
		opacity: 1;
  		transition: 1s;
  		cursor: pointer;
  	}

	.la-palette:hover .far 
	{
  		opacity: 0;
  		transition: 1s;
  		cursor: pointer;
  	}

	.le-delice .fas /*coeur plein Le délice des sens 5ème page*/
	{
  		color: transparent;
  		background: linear-gradient(#ff79da, #9356dc);
  		-webkit-background-clip: text; /*permets que la couleur violette remplisse juste le coeur sinon c'est un rectangle violet qui apparait*/
  		opacity: 0;
  		font-size: 1.5rem;
  		margin-left: 150px;
		margin-top: 10px;
 	}

	.le-delice .far /*coeur vide*/
	{
  		margin-left: -37px;
  		margin-right: 95px;
  		margin-top: 10px;
  		font-size: 1.5rem;
  	}

	.le-delice:hover .fas 
	{
		opacity: 1;
  		transition: 1s;
  		cursor: pointer;
  	}

	.le-delice:hover .far 
	{
  		opacity: 0;
  		transition: 1s;
  		cursor: pointer;
  	}


	.element2 /*Les plats de la 2ème page*/
	
	{
		display: flex;
		box-shadow: 0px 8px 12px #aaa;
		border-radius: 20px; /* concerne l'arrondi de l'encadrement */
		align-self: baseline; /*placement dans la box*/
		margin-bottom: 20px; /* concerne les marges exterieures bas */
		margin-left: 55px;
		margin-right: 0px;
		padding-bottom: 40px;	/* concerne  marge interieure bas  */
		padding-left: 10px;
		cursor: pointer; /*définit la forme du curseur lorsque le pointeur est au-dessus de l'élément, 
		Le curseur est un pointeur qui indique un lien,généralement c'est une main.*/
		background-color: white;
		width: 80%;
		height: 50px;
		animation: fadein 5s;	/*le temps que ça met pour réapparaître*/
		-moz-animation: fadein 5s;
		/* Firefox */
		-webkit-animation: fadein 5s;
		/* Safari et Chrome */
		-o-animation: fadein 5s;
		/* Opera */
	}

	@keyframes fadein
	{
		from
		{
			opacity:0;
		}

		to
		{
			opacity:1;
		}
	}

	.element2:hover .check /*carré vert qui tourne quand on lique sur le prix*/
	
	{
		width: 70px;
		background-color: #99E2D0;
		transition: all 1s;
		margin-left: 10px;
		display: block;
		animation: glissement 2s infinite alternate;
		height: 56px;
	}

	.check /*coche verte*/
	
	{
		width: 0px;
		padding-top: 35px;
		color: #99E2D0;
		border-top-right-radius: 20px;	/* concerne l'arrondi de l'encadrement */
		border-bottom-right-radius: 20px;
		padding-left: 20px;
	}

	.check i /*rond*/
	{
		display: none;
		margin-left: 10px;
		border: solid 2px none;
		border-radius: 80%;
		padding: 7px;
		background-color: white;
		margin-right: 30px;
	}

	.element2:hover i
	{
		display: block;
		animation: all 0.5s;
	}

	.element2 .rotate
	{
		transform: rotate(0deg);
	}

	.element2:hover .rotate
	{
		transform: rotate(-360deg);
		transition-duration: 1s;
	}

	.element2:hover .prix
	{
		margin-right: 0px;
	}



	.ent /*pour pouvoir centrer le trait sous le mot entrée*/
	
	{
		padding-left: 55px;
		width: 35rem;	/*pour aggrandir le trait*/
	}

	.entrees
	{
		font-size: 1.4rem;
		color: #677179;
		/* Gris de Payne*/
		font-weight: bold;
		border-bottom: 4px solid #99E2D0;
		width: 10%;	/*pour qu'il y ait un trait Vert d'eau* au dessous de l'entrée*/
	}

	.pla /*pour pouvoir centrer le trait sous le mot plat*/
	
	{
		padding-left: 55px;
		width: 23rem;/*pour aggrandir le trait*/
	}

	.plats /*titre au dessus des plats*/
	
	{
		font-size: 1.4rem;
		color: #677179;	/* Gris de Payne*/
		font-weight: bold;
		font-weight: bold;
		border-bottom: 4px solid #99E2D0;
		width: 15%;	/*pour qu'il y ait un trait Vert d'eau* au dessous de plat*/
	}

	.myplat
	{
		width: 80%;
		margin-bottom: 14px;/* concerne  marge interieure bas  */
		margin-top: 14px;
	}

	.plat /*nom d'un plat*/
	
	{
		font-weight: bold;
		font-size: 1.4rem;
		margin-bottom: 5px;	/* pour faire l'écart entre le mot du haut et celui d'en bas: les marges interieures */
	}

	.des /*pour pouvoir centrer le trait sous le mot dessert*/
	
	{
		padding-left: 55px;
		width: 23rem; /*pour aggrandir le trait*/
	}

	.desserts
	{
		font-size: 1.4rem;
		color: #677179;	/* Gris de Payne*/
		font-weight: bold;
		border-bottom: 4px solid #99E2D0;
		width: 15%;	/*pour qu'il y ait un trait Vert d'eau* au dessous de dessert*/
	}

	.saveur
	{
		color: grey;
		font-size: 1rem;
		display: flex;
		justify-content: space-between;	/*pour que le coeur se mette à droite*/
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	
	.prix
	{
		color: #000000;	/*couleur noire*/
	}

	.myprix
	{
		text-align: right;
		width: 10%;
		padding-bottom: 14px;	/* concerne  marge interieure bas  */
		padding-top: 35px;
		height: 70px;
	}

	.com-btn
	{
		display: flex;
		justify-content: center; /*cela centre le mot dans son contour*/
	}

	.searchbutton /*bouton commander*/
	
	{
		color: white;
		border: solid 2px none;
		border-radius: 25px;
		height: 3rem;
		width: 12rem;
		font-size: 1.1rem;
		margin-top: 40px;
		margin-left: 5px;
		margin-bottom: 40px;
		background:linear-gradient(to bottom,#DF73FF 45%,#6600FF);
		/*dégradé linéaire couleur Héliotrope-Bleu persan */
		font-weight: bold;
		box-shadow: 0px 3px #aaa;
		opacity: 1;
	}

	.searchbutton:hover  /* une couleur se met dès qu'on survol le mot à l'interieur de l'encadrement, un encadrement de couleur grise apparait */
	
	{
		color: white;
		background-color: #F2F2F2;
		box-shadow: 7px 6px 27px 0px rgba(0,0,0,0.75);
		cursor: pointer;
		/* définit la forme du curseur lorsque le pointeur est au-dessus de l'element, Le curseur est un pointeurqui indique un lien,generalement c'est une main. */
		opacity: 0.7;
	}

	/*section footer*/
	

	.fot /* concerne l'alignement footer */
	
	{
		display: flex;
		margin-left: 55px;
	}

	
}



/* Medium devices (tablette, min 768px max 1030px )si la largeur de l'appareil est minimum à 768px et égale ou inférieur à 1030px, appliquez le CSS défini dans ce bloc */
@media only screen and (min-width:768px) and (max-width: 1030px)
{
	body /*pour que l'ordi ne mette pas une marge en plus sur toute la page*/
	
	{
		margin: 0;
		font-family: 'Roboto', sans-serif;
	}

	header/*logo */
	
	{
		display: flex;
		justify-content: center;
		margin-top: 20px;
		/* concerne les marges exterieures  */
		margin-bottom: 10px;
	}

	h1 /*phrase reservez le menu*/
	
	{
		font-size: 1.9rem;
	}

	.logo
	{
		margin-top: 20px;
		/* concerne les marges exterieures  */
		margin-bottom: 10px;
		font-family: 'Shrikhand', cursive;
		margin-left: 295px;
	}

	.recherche
	{
		display: flex;
		justify-content: center;
		background-color: #CECECE;
		/* Gris Perle*/
		width: 100%;
		/*box-shadow: 0px 8px 32px blue;
		/* La 1ère valeur indique le décalage horizontal vers la droite -la 2ème correspond au décalage verticalvers le bas-le chiffre suivant indique la force du dégradé */
		border-top: solid 4px #9E9E9E;
		/*trait foncé au dessus de Paris Belleville*/
	}

	.fas.fa-map-marker-alt /*icone recherche*/
	
	{
		border: none;
		padding: 15px;
		/* pour grossir le rond*/
		margin-left: 38px;
	}

	input  /* Paris, Belleville*/
	
	{
		border: none;
		width: 200px;
		height: 42px;
		font-size: 1.1rem;
		font-weight: bold;
		background-color: #CECECE;
		/*Gris Perle*/
	}

	::placeholder /* couleur noire Paris, Belleville/ Le pseudo-élément ::placeholder représente le texte de substitution  pour un élément <input> ou <textarea>. Cela permet aux développeurs web de personnaliser l'apparence de ce texte.Le texte de substitution est généralement représenté avec une couleur plus claire afin d'indiquer qu'il s'agit d'une suggestion et que ce contenu n'a pas été saisi par l'utilisateur ou par le site même*/
	
	{
		color: #000000;
		/*couleur noire*/
	}

	/*section 1 */
	h3
	{
		color: grey;
	}

	.reservez
	{
		background-color: #F2F2F2;
		/*gris clair*/
		flex-direction: column;
		width: 100%;
		display: flex;
		align-items: center;
	}

	.hide-desktop /*pour que la phrase ne se coupe pas dans la version tablette*/
	
	{
		display: none;
	}

	.com-bts
	{
		display: flex;
		justify-content: center;
		/*cela centre le mot dans son contour*/
	}

	.searchbuttons
	{
		font-size: 1.2rem;
		color: white;
		border: solid 2px none; /* pas de couleur pour le contour*/
		border-radius: 25px;
		height: 3rem;
		width: 18rem;
		padding-left: 15px;
		/* concerne les marges interieures */
		padding-right: 15px;
		margin-bottom: 40px;
		background:linear-gradient(to bottom,#DF73FF 45%,#6600FF);
		/*dégradé linéaire couleur Héliotrope-Bleu persan */
		font-weight: bold;
		box-shadow: 0px 3px #aaa;
		opacity: 1;
	}

	.searchbuttons:hover  /*une couleur se met dès qu'on survol le mot à l'interieur de l'encadrement, un encadrement de couleur grise apparait */
	
	{
		color: white;
		background-color: #F2F2F2;
		box-shadow: 7px 6px 27px 0px rgba(0,0,0,0.75);
		cursor: pointer;
		/*définit la forme du curseur lorsque le pointeur est au-dessus de l'élément, Le curseur est un pointeurqui indique un lien,généralement c'est une main.*/
		opacity: 0.7;
	}

	/* Section 2*/
	.titre /*mot fonctionnement*/
	
	{
		margin-left: 60px;
		padding-bottom: 10px;
		font-size: 1.9rem;
	}

	.fonct /*bloc : fonctionnement restaurant menu dégustez*/
	
	{
		display: flex;
		justify-content: center;
		margin-top: 20px;
		margin-bottom: 40px;/* marges exterieures bas*/
		width: 100%;
		background-color: white;
	}

	.fi /*bloc : restaurant menu dégustez*/
	
	{
		display: flex;
		flex-wrap: wrap;
		/*les éléments vont à la ligne lorsqu'il n'y a plus la place*/
		margin-bottom: 10px;
		/* marges exterieures bas*/
	}

	.fi span /*concerne les mots : les mots restaurant menu dégustez*/
	
	{
		font-size: 1.3rem;
		margin-bottom: 10px;
		/* marges exterieures*/
		margin-top: 10px;
		padding-left: 15px;
		/* marges intérieures*/
		padding-right: 35px;
		/*pour agrandir le cadre*/
		font-weight: bold;
	}

	.contour /* contour les mots restaurant menu dégustez*/
	
	{
		display: flex;
		align-items: center;
		border: solid 2px #F2F2F2;
		border-radius: 25px;
		background-color: #F2F2F2;
		/*couleur à l'intérieur du contour*/
		margin-left: -10px;
		/* marges exterieures*/
		margin-top: 17px;
		z-index: 1;
	}

	.contour:hover  /*une couleur se met dès qu'on survol le mot à l'interieur de l'encadrement, un encadrement de couleur grise apparait */
	{
		color: black;
		background-color: #F9F0FF; 
		cursor: pointer;
		/*définit la forme du curseur lorsque le pointeur est au-dessus de l'élément, Le curseur est un pointeurqui indique un lien,généralement c'est une main.*/
	}

	.fas.fa-mobile-alt /* icone restaurant*/
	{
		margin-right: 10px;
		/*marges exterieures à l'interieur du cadre*/
		margin-left: 7px;
		padding-left: 15px;
	}

	.fas.fa-mobile-alt:hover /* pour que l'icône se mette en violet quand on clique*/
	{
		color: #9356DC ;
		cursor: pointer;
	}

	.fas.fa-list-ul /* icone menu*/
	{
		margin-right: 10px;
		/*marges exterieures*/
		margin-left: 7px;
		padding-left: 15px;
	}

	.fas.fa-list-ul:hover /* pour que l'icône se mette en violet quand on clique*/
	{
		color: #9356DC ;
		cursor: pointer;
	}

	.fas.fa-store /* icone degustez*/
	{
		margin-right: 10px;
		/*marges exterieures*/
		margin-left: 7px;
		padding-left: 15px;
	}

	.fas.fa-store:hover /* pour que l'icône se mette en violet quand on clique*/
	{
		color: #9356DC ;
		cursor: pointer;
	}

	.number
	{
		border: #DEEBFF solid 1px;
		border-radius: 50%;
		padding: 10px;
		/*aggrandis le rond*/
		color: white;
		font-size: 1rem;
		height: 1.1rem;
		width: 1rem;
		/*permets d'augmenter l'ovale du rond*/
		background-color: #9356DC ;
		/*primaire: violet*/
		text-align: center;
		/*pour centrer le chiffre*/
		margin-left: 25px;
		margin-top: 23px;
		z-index: 2;	/*pour que nouveau apparaisse sur l'image*/
	}

	@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}




	.loader {
  		border: 14px solid #FF79DA ;
  		border-radius: 50%;
  		border-top: 14px solid #9356DC ;
  		border-bottom: 14px solid #99E2D0;
  		position: absolute;
  		left: 40%; /*pour centrer le loader*/
  		top: 45%;
  		width: 120px;
  		height: 120px;
  		animation: spin 2s linear ;
  		z-index: -1;
	}

	
	@keyframes spin {
  		0% { transform: rotate(0deg); }
  		100% { transform: rotate(360deg);}
  		 
	}


body .page
{
	
	animation: fadein 3s;
}

	/*section3 Restaurants*/
	.activites /*mot restaurants*/
	
	{
		padding-top: 30px;
		padding-bottom: 10px;
		margin-left: 60px;
		font-size: 1.9rem;
	}

	.central
	{
		background-color: #F2F2F2 ;
	}

	.center
	{
		margin-right: auto;
		margin-left: auto;
		width: 100%;
		/*au lieu de 60%*/
	}

	.conteneur1/* concerne les restos de la 1ère page */
	
	{
		display: flex;
		flex-wrap: wrap;
		/*les éléments vont à la ligne lorsqu'il n'y a plus la place*/
		color: #000000;
		/*couleur noire*/
		text-align: left;
		margin-left: auto;
		/*marges exterieures*/
		margin-right: auto;
		padding-bottom: 30px;
		background-color: #F2F2F2;
		width: 92%;
	}

	.element1 /*La palette du goût et le délice des sens*/
	
	{
		box-shadow: 0px 8px 12px #aaa;
		border-radius: 20px;
		/* concerne l'arrondi de l'encadrement */
		align-self: baseline;
		/*placement dans la box*/
		width: 100%;
		margin-top: 20px;
		margin-bottom: 25px;
		/* concerne les marges exterieures bas */
		margin-right: 25px;
		margin-left: 25px;
		cursor: pointer;
		/*définit la forme du curseur lorsque le pointeur est au-dessus de l'élément, Le curseur est un pointeur qui indique un lien,généralement c'est une main.*/
		background-color: white;
	}

	.phot /*photo elements */
	
	{
		width: 660px;
		height: 190px;
		object-fit: cover;
		/*l'image sera découpée pour s'adapter*/
		border-top-right-radius: 15px;
		border-top-left-radius: 15px;
		/* z-index: -1;
		*/
	}

	.nouveau
	{
		color: #22780F;
		/* Vert de vessie*/
		font-weight: bold;
		font-size: 1.3rem;
		border-radius: 2px;
		background-color: #99E2D0;
		/*Vert d'eau*/
		padding: 14px;
		/* concerne les marges intérieures */
		width: 90px;
		height: 22px;
		margin-top: -160px;
		margin-bottom: 120px;
		margin-left: 530px;
		/*z-index: 2;
		/*pour QU'IL APPARAISSE DEVANT L'IMAGE*/
		position: absolute;
		/*pour que nouveau apparaisse sur l'image*/
	}

	.lieu /*noms des lieux pour activites*/
	
	{
		color: #000000 !important;
		/*couleur noire*/
		font-size: 1.4em;
		font-weight: bold;
		padding-left: 15px;
		/* concerne les marges interieures gauche  */
		padding-top: 10px;
		padding-bottom: 10px;
		display: flex;
		justify-content: space-between;
	}

	.ville
	{
		/*padding-left: 30px;
		/* concerne les marges interieures gauche */
		color: #000000 !important;
		/*couleur noire*/
	}

	
	.coeur-effet .fas /*coeur plein*/
	{
  		color: transparent;
  		background: linear-gradient(#ff79da, #9356dc);
  		-webkit-background-clip: text; /*permets que la couleur violette remplisse juste le coeur sinon c'est un rectangle violet qui apparait*/
  		opacity: 0;
  		font-size: 1.5rem;
  		margin-left: -37px;
  		margin-top: 30px;
 	}

	.coeur-effet .far /*coeur vide*/
	{
  		margin-left: -27px;
  		font-size: 1.5rem;
  	}

	.coeur-effet:hover .fas 
	{
		opacity: 1;
  		transition: 1s;
  		cursor: pointer;
	}

	.coeur-effet:hover .far 
	{
  		opacity: 0;
  		transition: 1s;
  		cursor: pointer;
  		/*margin-left: -27px;*/
  	}


	/*section footer*/
	footer
	{
		background-color: #303030;
		flex-direction: column;
		width: 100%;
		padding-bottom: 15px;
	}

	.foot /* concerne l'alignement footer */
	
	{
		display: flex;
		margin-left: 60px;
	}

	.petitlogo
	{
		color: white;
		padding-top: 25px;
		padding-bottom: 5px;
		/* concerne  marge interieure bas  */
		margin-bottom: 10px;
		font-family: 'Shrikhand', cursive;
		font-size: 1.5rem;
	}

	h4
	{
		color: white;
	}

	h4:hover  /*une couleur se met dès qu'on survol le mot à l'interieur de l'encadrement, un encadrement de couleur grise apparait */
	
	{
		color: #0065FC;
		background-color: #F2F2F2;
		cursor: pointer;
		/*définit la forme du curseur lorsque le pointeur est au-dessus de l'élément, Le curseur est un pointeurqui indique un lien,généralement c'est une main.*/
	}

	.fas.fa-utensils
	{
		margin-right: 10px;
	}

	.fas.fa-hands-helping
	{
		margin-right: 10px;
	}

	.contact
	{
		color: white;
	}

	/*2ème page TABLETTE*/

	/*header*/
	header/*logo */
	
	{
		display: flex;
		justify-content: start;
		margin-top: 20px;
		/* concerne les marges exterieures  */
		margin-bottom: 10px;
		width: 100% !important;
	}

	header i /*pour que la flèche soit mise à gauche*/
	
	{
		margin: 20px;
		margin-right: 230px;
		font-size: 2rem;
		color: black;
	}

	.logos
	{
		margin-top: 20px;
		/* concerne les marges exterieures  */
		margin-bottom: 10px;
		font-family: 'Shrikhand', cursive;
	}

	/*section 1*/
	.phototoa /*photo du plat*/
	
	{
		width: 100%;
		height: 380px;
		object-fit: cover;
		/*l'image sera découpée pour s'adapter*/
	}

	/*section 2*/
	.deuxiemepage
	{
		background-color: #F2F2F2;
		/*gris clair*/
		flex-direction: column;
		width: 100%;
		display: flex;
		font-weight: bold;
		border-top-right-radius: 25px;
		border-top-left-radius: 25px;
		margin-top: -50px;
		/*marges exterieures*/
		position: absolute;
		/*pour que le pavé à la française déborde sur la photo*/
		/*align-items: center;
		*/
		/*margin-right: auto;
		margin-left: auto;
		*/
		background-color: #F2F2F2;
	}

	.francaise
	{
		font-size: 1.7rem;
		font-weight: bold;
		font-style:italic;
		font-family: 'Shrikhand', cursive;
		display: flex;
		justify-content: space-between;
		/*pour que le coeur se mette à droite*/
		margin-top: 20px;
		margin-left: 100px;
	}

	.a-la-francaise .fas /*coeur plein A la Française 2ème */
	{
  		color: transparent;
  		background: linear-gradient(#ff79da, #9356dc);
  		-webkit-background-clip: text; /*permets que la couleur violette remplisse juste le coeur sinon c'est un rectangle violet qui apparait*/
  		opacity: 0;
  		font-size: 1.5rem;
  		margin-left: 320px;
		margin-top: 10px;
 	}

	.a-la-francaise .far /*coeur vide*/
	{
  		margin-left: -37px;
  		margin-right: 80px;
  		margin-top: 10px;
  		font-size: 1.5rem;
  	}

	.a-la-francaise:hover .fas 
	{
		opacity: 1;
  		transition: 1s;
  		cursor: pointer;
  	}

	.a-la-francaise:hover .far 
	{
  		opacity: 0;
  		transition: 1s;
  		cursor: pointer;
  	}
	
	.la-note .fas /*coeur plein LA NOTE ENCHANTEE 3ème page*/
	{
  		color: transparent;
  		background: linear-gradient(#ff79da, #9356dc);
  		-webkit-background-clip: text; /*permets que la couleur violette remplisse juste le coeur sinon c'est un rectangle violet qui apparait*/
  		opacity: 0;
  		font-size: 1.5rem;
  		margin-left: 270px;
		margin-top: 10px;
 	}

	.la-note .far /*coeur vide*/
	{
  		margin-left: -37px;
  		margin-right: 70px;
  		margin-top: 10px;
  		font-size: 1.5rem;
  	}

	.la-note:hover .fas 
	{
		opacity: 1;
  		transition: 1s;
  		cursor: pointer;
  	}

	.la-note:hover .far 
	{
  		opacity: 0;
  		transition: 1s;
  		cursor: pointer;
  	}

	.la-palette .fas /*coeur plein La palette du goût 4ème page*/
	{
  		color: transparent;
  		background: linear-gradient(#ff79da, #9356dc);
  		-webkit-background-clip: text; /*permets que la couleur violette remplisse juste le coeur sinon c'est un rectangle violet qui apparait*/
  		opacity: 0;
  		font-size: 1.5rem;
  		margin-left: 270px;
		margin-top: 10px;
 	}

	.la-palette .far /*coeur vide*/
	{
  		margin-left: -37px;
  		margin-right: 85px;
  		margin-top: 10px;
  		font-size: 1.5rem;
  	}

	.la-palette:hover .fas 
	{
		opacity: 1;
  		transition: 1s;
  		cursor: pointer;
  	}

	.la-palette:hover .far 
	{
  		opacity: 0;
  		transition: 1s;
  		cursor: pointer;
  	}

	.le-delice .fas /*coeur plein Le délice des sens 5ème page*/
	{
  		color: transparent;
  		background: linear-gradient(#ff79da, #9356dc);
  		-webkit-background-clip: text; /*permets que la couleur violette remplisse juste le coeur sinon c'est un rectangle violet qui apparait*/
  		opacity: 0;
  		font-size: 1.5rem;
  		margin-left: 270px;
		margin-top: 10px;
 	}

	.le-delice .far /*coeur vide*/
	{
  		margin-left: -37px;
  		margin-right: 85px;
  		margin-top: 10px;
  		font-size: 1.5rem;
  	}

	.le-delice:hover .fas 
	{
		opacity: 1;
  		transition: 1s;
  		cursor: pointer;
  	}

	.le-delice:hover .far 
	{
  		opacity: 0;
  		transition: 1s;
  		cursor: pointer;
  	}

	.conteneur2/* concerne la 2ème page*/
	
	{
		display: flex;
		flex-direction: column;
		color: #000000;	/*couleur noire*/
		text-align: left;
		width: 96%;
		background-color: #F2F2F2;
		border-top-right-radius: 25px;
		border-top-left-radius: 25px;
		
	}

	.element2 /*Les plats de la 2ème page*/
	
	{
		display: flex;
		box-shadow: 0px 8px 12px #aaa;
		border-radius: 20px; /* concerne l'arrondi de l'encadrement */
		align-self: baseline; /*placement dans la box*/
		margin-bottom: 20px; /* concerne les marges exterieures bas */
		margin-left: 85px;
		margin-right: 0px;
		padding-bottom: 40px;	/* concerne  marge interieure bas  */
		padding-left: 10px;
		cursor: pointer; /*définit la forme du curseur lorsque le pointeur est au-dessus de l'élément, 
		Le curseur est un pointeur qui indique un lien,généralement c'est une main.*/
		background-color: white;
		width: 80%;
		height: 50px;
		animation: fadein 5s;	/*le temps que ça met pour réapparaître*/
		-moz-animation: fadein 5s;
		/* Firefox */
		-webkit-animation: fadein 5s;
		/* Safari et Chrome */
		-o-animation: fadein 5s;
		/* Opera */
	}

	@keyframes fadein
	{
		from
		{
			opacity:0;
		}

		to
		{
			opacity:1;
		}
	}

	.element2:hover .check /*carré vert qui tourne quand on lique sur le prix*/
	
	{
		width: 70px;
		background-color: #99E2D0;
		transition: all 1s;
		margin-left: 10px;
		display: block;
		animation: glissement 2s infinite alternate;
		height: 56px;
	}

	.check /*coche verte*/
	
	{
		width: 0px;
		padding-top: 35px;
		color: #99E2D0;
		border-top-right-radius: 20px;	/* concerne l'arrondi de l'encadrement */
		border-bottom-right-radius: 20px;
		padding-left: 20px;
	}

	.check i /*rond*/
	{
		display: none;
		margin-left: 10px;
		border: solid 2px none;
		border-radius: 80%;
		padding: 7px;
		background-color: white;
		margin-right: 30px;
	}

	.element2:hover i
	{
		display: block;
		animation: all 0.5s;
	}

	.element2 .rotate
	{
		transform: rotate(0deg);
	}

	.element2:hover .rotate
	{
		transform: rotate(-360deg);
		transition-duration: 1s;
	}

	.element2:hover .prix
	{
		margin-right: 0px;
	}

	.ent /*pour pouvoir centrer le trait sous le mot entrée*/
	
	{
		padding-left: 100px;
	}

	.entrees
	{
		font-size: 1.4rem;
		color: #677179;
		/* Gris de Payne*/
		font-weight: bold;
		padding-left: 0px;
		/* concerne les marges interieures  */
		/*margin-left: 30px;
		*/
		border-bottom: 4px solid #99E2D0;
		width: 12%;
		/*pour qu'il y ait un trait Vert d'eau* au dessous de l'entrée*/
	}

	.pla /*pour pouvoir centrer le trait sous le mot plat*/
	
	{
		padding-left: 100px;
	}

	.plats /*titre au dessus des plats*/
	
	{
		font-size: 1.4rem;
		color: #677179;
		/* Gris de Payne*/
		font-weight: bold;
		padding-left: 3px;
		/* concerne les marges interieures  */
		font-weight: bold;
		border-bottom: 4px solid #99E2D0;
		width: 8%;
		/*pour qu'il y ait un trait Vert d'eau* au dessous de plat*/
	}

	.plat /*nom d'un plat*/
	
	{
		font-weight: bold;
		font-size: 1.4rem;
		margin-bottom: 5px;
		/* pour faire l'écart entre le mot du haut et celui d'en bas: les marges interieures */
	}

	.myplat
	{
		width: 90%;
		margin-bottom: 0px;
		/* concerne  marge interieure bas  */
		margin-top: 14px;
		padding-bottom: 14px;
	}

	.des /*pour pouvoir centrer le trait sous le mot dessert*/
	
	{
		padding-left: 100px;
	}

	.desserts
	{
		font-size: 1.4rem;
		color: #677179;
		/* Gris de Payne*/
		font-weight: bold;
		padding-left: 3px;
		/* concerne les marges interieures  */
		border-bottom: 4px solid #99E2D0;
		width: 13%;
		/*pour qu'il y ait un trait Vert d'eau* au dessous de dessert*/
	}

	.saveur
	{
		color: grey;
		font-size: 1rem;
		display: flex;
		justify-content: space-between;
		/*pour que le coeur se mette à droite*/
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.prix
	{
		/*margin-right: 20px;
		*/
		color: #000000;
		/*couleur noire*/
	}

	.myprix
	{
		text-align: right;
		width: 10%;
		padding-bottom: 14px;	/* concerne  marge interieure bas  */
		padding-top: 35px;
		height: 70px;
	}


	.com-btn
	{
		display: flex;
		justify-content: center;
		/*cela centre le mot dans son contour*/
	}

	.searchbutton /*bouton commander*/
	
	{
		color: white;
		border: solid 2px none;
		border-radius: 25px;
		height: 3rem;
		width: 12rem;
		font-size: 1.1rem;
		margin-top: 40px;
		margin-left: 20px;
		margin-bottom: 40px;
		background:linear-gradient(to bottom,#DF73FF 45%,#6600FF);
		/*dégradé linéaire couleur Héliotrope-Bleu persan */
		font-weight: bold;
		box-shadow: 0px 3px #aaa;
		opacity: 1;
	}

	.searchbutton:hover  /*une couleur se met dès qu'on survol le mot à l'interieur de l'encadrement, un encadrement de couleur grise apparait */
	
	{
		color: white;
		background-color: #F2F2F2;
		box-shadow: 7px 6px 27px 0px rgba(0,0,0,0.75);
		cursor: pointer;
		/*définit la forme du curseur lorsque le pointeur est au-dessus de l'élément, Le curseur est un pointeurqui indique un lien,généralement c'est une main*/
		opacity: 0.7;
	}

/*section footer*/
.fot /* concerne l'alignement footer */
	
	{
		display: flex;
		margin-left: 100px;
	}

}

/*concerne pc*/
@media only screen and (min-width: 1031px) /*à partir de 1031px*/

{
	body /*pour que l'ordi ne mette pas une marge en plus sur toute la page*/
	
	{
		margin: 0;
		font-family: 'Roboto', sans-serif;
	}

	header/*logo */
	
	{
		display: flex;
		justify-content: center;
		margin-top: 20px;
		/* concerne les marges exterieures  */
		margin-bottom: 10px;
	}

	.logo
	{
		margin-top: 20px;
		/* concerne les marges exterieures  */
		margin-bottom: 10px;
		font-family: 'Shrikhand', cursive;
		margin-left: 865px;
	}

	.recherche
	{
		display: flex;
		justify-content: center;
		background-color: #CECECE;
		/* Gris Perle*/
		width: 100%;
		/*box-shadow: 0px 8px 32px blue;
		/* La 1ère valeur indique le décalage horizontal vers la droite -la 2ème correspond au décalage verticalvers le bas-le chiffre suivant indique la force du dégradé */
		border-top: solid 4px #9E9E9E;
		/*trait foncé au dessus de Paris Belleville*/
	}

	.fas.fa-map-marker-alt /*icone recherche*/
	
	{
		border: none;
		padding: 15px;
		/* pour grossir le rond*/
		margin-left: 60px;
	}

	input  /* Paris, Belleville*/
	
	{
		border: none;
		width: 200px;
		height: 42px;
		font-size: 1.1rem;
		font-weight: bold;
		background-color: #CECECE;
		/*Gris Perle*/
	}

	::placeholder /* couleur noire Paris, Belleville/ Le pseudo-élément ::placeholder représente le texte de substitution  pour un élément <input> ou <textarea>. Cela permet aux développeurs web de personnaliser l'apparence de ce texte.Le texte de substitution est généralement représenté avec une couleur plus claire afin d'indiquer qu'il s'agit d'une suggestion et que ce contenu n'a pas été saisi par l'utilisateur ou par le site même*/
	
	{
		color: #000000;
		/*couleur noire*/
	}

	/*section 1 */
	h3
	{
		color: grey;
	}

	.reservez
	{
		background-color: #F2F2F2;
		/*gris clair*/
		flex-direction: column;
		width: 100%;
		display: flex;
		align-items: center;
	}

	.hide-desktop /*pour que la phrase ne se coupe pas dans la version desktop*/
	
	{
		display: none;
	}

	.com-bts
	{
		display: flex;
		justify-content: center;
		/*cela centre le mot dans son contour*/
	}

	.searchbuttons
	{
		font-size: 1rem;
		color: white;
		border: solid 2px none; /* pas de couleur pour le contour*/
		border-radius: 25px;
		height: 3rem;
		width: 15rem;
		padding-left: 15px;
		/* concerne les marges interieures */
		padding-right: 15px;
		margin-bottom: 40px;
		background:linear-gradient(to bottom,#DF73FF 45%,#6600FF);
		/*dégradé linéaire couleur Héliotrope-Bleu persan */
		font-weight: bold;
		box-shadow: 0px 3px #aaa;
		opacity: 1;
	}

	.searchbuttons:hover  /*une couleur se met dès qu'on survol le mot à l'interieur de l'encadrement, un encadrement de couleur grise apparait */
	
	{
		color: white;
		background-color: #F2F2F2;
		box-shadow: 7px 6px 27px 0px rgba(0,0,0,0.75);
		cursor: pointer;
		/*définit la forme du curseur lorsque le pointeur est au-dessus de l'élément, Le curseur est un pointeurqui indique un lien,généralement c'est une main.*/
		opacity: 0.7;
	}

	/* Section 2*/
	.titre /*mot fonctionnement*/
	
	{
		margin-left: 23px;
		padding-bottom: 10px;
	}

	.fonct /*bloc : fonctionnement restaurant menu dégustez*/
	
	{
		display: flex;
		justify-content: center;
		margin: 20px 0 40px 0;
		/* marges exterieures haut/droite/bas/gauche */
		width: 100%;
		background-color: white;
	}

	.fi /*bloc : restaurant menu dégustez*/
	
	{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		/*les éléments vont à la ligne lorsqu'il n'y a plus la place*/
		margin-bottom: 10px;
		/* marges exterieures*/
	}

	.fi span /*concerne les mots : les mots restaurant menu dégustez*/
	
	{
		font-size: 1.1rem;
		margin-bottom: 10px;
		/* marges exterieures*/
		margin-top: 10px;
		padding-left: 15px;
		/* marges intérieures*/
		padding-right: 35px;
		/*pour agrandir le cadre*/
	}

	.contour /* contour les mots restaurant menu dégustez*/
	{
		display: flex;
		align-items: center;
		border: solid 2px #F2F2F2;
		border-radius: 25px;
		background-color: #F2F2F2;
		/*couleur à l'intérieur du contour*/
		margin-left: -10px;
		/* marges exterieures*/
		z-index: 1;
	}

	.contour:hover  /*une couleur se met dès qu'on survol le mot à l'interieur de l'encadrement, un encadrement de couleur grise apparait */
	{
		color: black;
		background-color: #F9F0FF;
		cursor: pointer;
		/*définit la forme du curseur lorsque le pointeur est au-dessus de l'élément, Le curseur est un pointeurqui indique un lien,généralement c'est une main.*/
	}

	.fas.fa-mobile-alt /* icone restaurant*/
	{
		margin-right: 10px;
		/*marges exterieures à l'interieur du cadre*/
		margin-left: 7px;
		padding-left: 15px;
	}

	.fas.fa-mobile-alt:hover /* pour que l'icône se mette en violet quand on clique*/
	{
		color: #9356DC ;
		cursor: pointer;
	}

	.fas.fa-list-ul /* icone menu*/
	
	{
		margin-right: 10px;
		/*marges exterieures*/
		margin-left: 7px;
		padding-left: 15px;
	}

	.fas.fa-list-ul:hover /* pour que l'icône se mette en violet quand on clique*/
	{
		color: #9356DC ;
		cursor: pointer;
	}

	.fas.fa-store /* icone degustez*/
	{
		margin-right: 10px;
		/*marges exterieures*/
		margin-left: 7px;
		padding-left: 15px;
	}

	.fas.fa-store:hover /* pour que l'icône se mette en violet quand on clique*/
	{
		color: #9356DC ;
		cursor: pointer;
	}

	.number
	{
		border: #DEEBFF solid 1px;
		border-radius: 50%;
		padding: 9px;
		color: white;
		font-size: 0.7rem;
		height: 0.7rem;
		width: 0.7rem;
		background-color: #9356DC ;
		/*primaire: violet*/
		text-align: center;
		/*pour centrer le chiffre*/
		margin-left: 15px;
		margin-top: 7px;
		z-index: 2;
		/*position: absolute;
		/*pour que nouveau apparaisse sur l'image*/
	}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}




	.loader {
  		border: 14px solid #FF79DA ;
  		border-radius: 50%;
  		border-top: 14px solid #9356DC ;
  		border-bottom: 14px solid #99E2D0;
  		position: absolute;
  		left: 46%; /*pour centrer le loader*/
  		top: 20%;
  		width: 120px;
  		height: 120px;
  		animation: spin 2s linear ;
  		z-index: -1;
	}

	
	@keyframes spin {
  		0% { transform: rotate(0deg); }
  		100% { transform: rotate(360deg);}
  		 
	}


body .page
{
	
	animation: fadein 3s;
}



	/*section3 Restaurants*/
	.activites /*mot restaurants*/
	
	{
		padding-top: 40px;
		margin-left: 115px;
	}

	.central
	{
		background-color: #F2F2F2 ;
	}

	.center
	{
		margin-right: auto;
		margin-left: auto;
		width: 60%;
	}

	.conteneur1/* concerne les restos de la 1ère page */
	
	{
		display: flex;
		flex-wrap: wrap;
		/*les éléments vont à la ligne lorsqu'il n'y a plus la place*/
		color: #000000;
		/*couleur noire*/
		text-align: left;
		margin-left: auto;
		/*marges exterieures*/
		margin-right: auto;
		background-color: #F2F2F2;
		width: 92%;
		/*padding-left: 100px;
		*/
	}

	.element1 /*La palette du goût et le délice des sens*/
	
	{
		box-shadow: 0px 8px 12px #aaa;
		border-radius: 20px;
		/* concerne l'arrondi de l'encadrement */
		align-self: baseline;
		/*placement dans la box*/
		width: 40%;
		margin-top: 20px;
		margin-bottom: 25px;
		/* concerne les marges exterieures bas */
		margin-right: 25px;
		margin-left: 65px;
		cursor: pointer;
		/*définit la forme du curseur lorsque le pointeur est au-dessus de l'élément, Le curseur est un pointeur qui indique un lien,généralement c'est une main.*/
		background-color: white;
	}

	.phot /*photo elements */
	
	{
		width: 420px;
		height: 170px;
		object-fit: cover;
		/*l'image sera découpée pour s'adapter*/
		border-top-right-radius: 15px;
		border-top-left-radius: 15px;
	}

	.classifprivee
	{
	color: blue;
	}
	
	.nouveau
	{
		color: blue;
		/* Vert de vessie*/
		font-weight: bold;
		font-size: 1rem;
		border-radius: 2px;
		background-color: red;
		/*Vert d'eau*/
		padding: 10px;
		/* concerne les marges intérieures */
		width: 70px;
		height: 15px;
		margin-top: -160px;
		margin-bottom: 120px;
		margin-left: 320px;
		position: absolute;
		/*pour que nouveau apparaisse sur l'image*/
	}

	.lieu /*noms des lieux pour activites*/
	
	{
		color: #000000 !important;
		/*couleur noire*/
		font-size: 1.1em;
		font-weight: bold;
		padding-left: 15px;
		/* concerne les marges interieures gauche  */
		padding-top: 10px;
		padding-bottom: 10px;
		display: flex;
		justify-content: space-between;
	}

	.ville
	{
		color: #000000 !important;
		/*couleur noire*/
	}

	.coeur-effet .fas /*coeur plein*/
	{
  		color: transparent;
  		background: linear-gradient(white,red);
  		-webkit-background-clip: text; /*permets que la couleur violette remplisse juste le coeur sinon c'est un rectangle violet qui apparait*/
  		opacity: 0;
  		font-size: 1.5rem;
  		margin-left: -50px;
  		margin-top: 30px;
 	}

	.coeur-effet .far /*coeur vide*/
	{
  		margin-left: -30px;
  		font-size: 1.5rem;
  	}

	.coeur-effet:hover .fas 
	{
		opacity: 1;
  		transition: 1s;
  		cursor: pointer;
	}

	.coeur-effet:hover .far 
	{
  		opacity: 0;
  		transition: 1s;
  		cursor: pointer;
  	}


	/*section footer*/
	footer
	{
		background-color: #303030;
		flex-direction: column;
		width: 100%;
		padding-bottom: 15px;
	}

	.foot /* concerne l'alignement footer */
	
	{
		display: flex;
		margin-left: 95px;
		padding-left: 410px;
	}

	.petitlogo
	{
		color: white;
		padding-top: 25px;
		padding-bottom: 5px;
		/* concerne  marge interieure bas  */
		margin-bottom: 10px;
		font-family: 'Shrikhand', cursive;
		font-size: 1.3rem;
	}

	h4
	{
		color: white;
	}

	h4:hover  /*une couleur se met dès qu'on survol le mot à l'interieur de l'encadrement, un encadrement de couleur grise apparait */
	
	{
		color: #0065FC;
		background-color: #F2F2F2;
		cursor: pointer;
		/*définit la forme du curseur lorsque le pointeur est au-dessus de l'élément, Le curseur est un pointeurqui indique un lien,généralement c'est une main.*/
	}

.adhesion
{
		color: white;
	}

	.fas.fa-utensils
	{
		margin-right: 10px;
	}

	.fas.fa-hands-helping
	{
		margin-right: 10px;
	}

	.contact
	{
		color: white;
	}

	/*2ème page PC */
	/*header*/
	header/*logo */
	
	{
		display: flex;
		justify-content: start;
		margin-top: 20px;
		/* concerne les marges exterieures  */
		margin-bottom: 10px;
		width: 100% !important;
	}

	header i /*pour que la flèche soit mise à gauche*/
	
	{
		margin: 20px;
		margin-right: 810px;
		font-size: 2rem;
		color: black;
	}

	/*section 1*/
	.phototoa /*photo du plat*/
	
	{
		width: 100%;
		height: 380px;
		object-fit: cover;
		/*l'image sera découpée pour s'adapter*/
	}

	/*section 2*/
	.deuxiemepage
	{
		background-color: #F2F2F2;
		/*gris clair*/
		flex-direction: column;
		width: 100%;
		display: flex;
		font-weight: bold;
		border-top-right-radius: 25px;
		border-top-left-radius: 25px;
		margin-top: -50px;
		/*marges exterieures*/
		position: absolute;
		/*pour que le pavé à la française déborde sur la photo*/
		background-color: #F2F2F2;
	}

	.conteneur2/* concerne la 2ème page*/
	
	{
		display: flex;
		flex-direction: column;
		color: #000000;	/*couleur noire*/
		text-align: left;
		width: 96%;
		background-color: #F2F2F2;
		border-top-right-radius: 25px;
		border-top-left-radius: 25px;
	}

	.francaise
	{
		font-size: 1.7rem;
		font-weight: bold;
		font-style:italic;
		font-family: 'Shrikhand', cursive;
		display: flex;
		/*justify-content: space-between;*/
		/*pour que le coeur se mette à droite*/
		margin-top: 20px;
		margin-left: 55px;
	}

	.a-la-francaise .fas /*coeur plein A la Française 2ème */
	{
  		color: transparent;
  		background: linear-gradient(#ff79da, #9356dc);
  		-webkit-background-clip: text; /*permets que la couleur violette remplisse juste le coeur sinon c'est un rectangle violet qui apparait*/
  		opacity: 0;
  		font-size: 1.5rem;
  		margin-left: 1030px;

		margin-top: 10px;
 	}

	.a-la-francaise .far /*coeur vide*/
	{
  		margin-left: -27px;
  		margin-top: 10px;
  		font-size: 1.5rem;
  	}

	.a-la-francaise:hover .fas 
	{
		opacity: 1;
  		transition: 1s;
  		cursor: pointer;
  	}

	.a-la-francaise:hover .far 
	{
  		opacity: 0;
  		transition: 1s;
  		cursor: pointer;
  	}

	
	.la-note .fas /*coeur plein LA NOTE ENCHANTEE 3ème page*/
	{
  		color: transparent;
  		background: linear-gradient(#ff79da, #9356dc);
  		-webkit-background-clip: text; /*permets que la couleur violette remplisse juste le coeur sinon c'est un rectangle violet qui apparait*/
  		opacity: 0;
  		font-size: 1.5rem;
  		margin-left: 970px;

		margin-top: 10px;
 	}

	.la-note .far /*coeur vide*/
	{
  		margin-left: -27px;
  		margin-top: 10px;
  		font-size: 1.5rem;
  	}

	.la-note:hover .fas 
	{
		opacity: 1;
  		transition: 1s;
  		cursor: pointer;
  	}

	.la-note:hover .far 
	{
  		opacity: 0;
  		transition: 1s;
  		cursor: pointer;
  	}

	.la-palette .fas /*coeur plein La palette du goût 4ème page*/
	{
  		color: transparent;
  		background: linear-gradient(#ff79da, #9356dc);
  		-webkit-background-clip: text; /*permets que la couleur violette remplisse juste le coeur sinon c'est un rectangle violet qui apparait*/
  		opacity: 0;
  		font-size: 1.5rem;
  		margin-left: 980px;

		margin-top: 10px;
 	}

	.la-palette .far /*coeur vide*/
	{
  		margin-left: -27px;
  		margin-top: 10px;
  		font-size: 1.5rem;
  	}

	.la-palette:hover .fas 
	{
		opacity: 1;
  		transition: 1s;
  		cursor: pointer;
  	}

	.la-palette:hover .far 
	{
  		opacity: 0;
  		transition: 1s;
  		cursor: pointer;
  	}

	.le-delice .fas /*coeur plein Le délice des sens 5ème page*/
	{
  		color: transparent;
  		background: linear-gradient(#ff79da, #9356dc);
  		-webkit-background-clip: text; /*permets que la couleur violette remplisse juste le coeur sinon c'est un rectangle violet qui apparait*/
  		opacity: 0;
  		font-size: 1.5rem;
  		margin-left: 980px;

		margin-top: 10px;
 	}

	.le-delice .far /*coeur vide*/
	{
  		margin-left: -27px;
  		margin-top: 10px;
  		font-size: 1.5rem;
  	}

	.le-delice:hover .fas 
	{
		opacity: 1;
  		transition: 1s;
  		cursor: pointer;
  	}

	.le-delice:hover .far 
	{
  		opacity: 0;
  		transition: 1s;
  		cursor: pointer;
  	}


	.element2 /*Les plats de la 2ème page*/
	{
		display: flex;
		box-shadow: 0px 8px 12px #aaa;
		border-radius: 20px; /* concerne l'arrondi de l'encadrement */
		align-self: baseline; /*placement dans la box*/
		margin-bottom: 20px; /* concerne les marges exterieures bas */
		margin-left: 585px;
		margin-right: 0px;
		padding-bottom: 40px;	/* concerne  marge interieure bas  */
		padding-left: 10px;
		cursor: pointer; /*définit la forme du curseur lorsque le pointeur est au-dessus de l'élément, 
		Le curseur est un pointeur qui indique un lien,généralement c'est une main.*/
		background-color: white;
		width: 40%;
		height: 50px;
		animation: fadein 5s;	/*le temps que ça met pour réapparaître*/
		-moz-animation: fadein 5s;
		/* Firefox */
		-webkit-animation: fadein 5s;
		/* Safari et Chrome */
		-o-animation: fadein 5s;
		/* Opera */
	}

	@keyframes fadein
	{
		from
		{
			opacity:0;
		}

		to
		{
			opacity:1;
		}
	}

	.element2:hover .check /*carré vert qui s'agrandi quand on clique sur le prix*/
	
	{
		width: 70px;
		background-color: #99E2D0;
		transition: all 1s;
		margin-left: 10px;
		display: block;
		animation: glissement 2s infinite alternate;
		height: 56px;
	}

	.check /*coche verte*/
	
	{
		width: 0px;
		padding-top: 35px;
		color: #99E2D0;
		border-top-right-radius: 20px;	/* concerne l'arrondi de l'encadrement */
		border-bottom-right-radius: 20px;
		padding-left: 20px;
	}

	.check i /*rond au départ */
	{
		display: none; /* icone pas visible*/
		margin-left: 10px;
		border: solid 2px none;
		border-radius: 80%;
		padding: 7px;
		background-color: white;
		margin-right: 30px;
	}

	.element2:hover i /* rond apparait*/
	{
		display: block;
		animation: all 0.5s;
	}

	.element2 .rotate
	{
		transform: rotate(0deg);
	}

	.element2:hover .rotate
	{
		transform: rotate(-360deg);
		transition-duration: 1s;
	}

	.element2:hover .prix
	{
		margin-right: 0px;
	}


	.ent /*pour pouvoir centrer le trait sous le mot entrée*/
	
	{
		padding-left: 585px;
		width: 35rem;	/*pour aggrandir le trait*/
	}

	.entrees
	{
		font-size: 1.4rem;
		color: #677179;
		/* Gris de Payne*/
		font-weight: bold;
		padding-left: 0px;
		margin-bottom: 20px;
		/* concerne les marges interieures  */
		border-bottom: 4px solid #99E2D0;
		width: 12%;
		/*pour qu'il y ait un trait Vert d'eau* au dessous de l'entrée*/
	}

	.pla /*pour pouvoir centrer le trait sous le mot plat*/
	
	{
		padding-left: 585px;
		width: 35rem;	/*pour aggrandir le trait*/
	}

	.plats /*titre au dessus des plats*/
	
	{
		font-size: 1.4rem;
		color: #677179;
		/* Gris de Payne*/
		font-weight: bold;
		padding-left: 3px;
		/* concerne les marges interieures  */
		font-weight: bold;
		border-bottom: 4px solid #99E2D0;
		width: 8%;
		/*pour qu'il y ait un trait Vert d'eau* au dessous de plat*/
	}

	.des /*pour pouvoir centrer le trait sous le mot dessert*/
	
	{
		padding-left: 585px;
		width: 35rem;	/*pour aggrandir le trait*/
	}

	.desserts
	{
		font-size: 1.4rem;
		color: #677179;
		/* Gris de Payne*/
		font-weight: bold;
		padding-left: 3px;
		/* concerne les marges interieures  */
		border-bottom: 4px solid #99E2D0;
		width: 13%;
		/*pour qu'il y ait un trait Vert d'eau* au dessous de dessert*/
	}

	.plat /*nom d'un plat*/
	
	{
		font-weight: bold;
		font-size: 1.4rem;
		margin-bottom: 5px;
		/* pour faire l'écart entre le mot du haut et celui d'en bas: les marges interieures */
	}

	.myplat
	{
		width: 90%;
		margin-bottom: 14px;
		/* concerne  marge interieure bas  */
		margin-top: 14px;
	}

	.saveur
	{
		color: grey;
		font-size: 1rem;
		display: flex;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.prix
	{
		/*margin-right: 20px;
		*/
		color: #000000;
		/*couleur noire*/
	}

	.myprix
	{
		text-align: right;
		width: 10%;
		padding-bottom: 14px;	/* concerne  marge interieure bas  */
		padding-top: 35px;
		height: 70px;
	}
	
	
	.com-btn
	{
		display: flex;
		justify-content: center;
		/*cela centre le mot dans son contour*/
	}

	.searchbutton /*bouton commander*/
	
	{
		color: white;
		border: solid 2px none;
		border-radius: 25px;
		height: 3rem;
		width: 12rem;
		font-size: 1.1rem;
		margin-top: 40px;
		margin-left: 70px;
		margin-bottom: 40px;
		background:linear-gradient(to bottom,#DF73FF 45%,#6600FF);
		/*dégradé linéaire couleur Héliotrope-Bleu persan */
		font-weight: bold;
		box-shadow: 0px 3px #aaa;
		opacity: 1;
	}

	.searchbutton:hover  /*une couleur se met dès qu'on survol le mot à l'interieur de l'encadrement, un encadrement de couleur grise apparait */
	
	{
		color: white;
		background-color: #F2F2F2;
		box-shadow: 7px 6px 27px 0px rgba(0,0,0,0.75);
		cursor: pointer;
		/*définit la forme du curseur lorsque le pointeur est au-dessus de l'élément, Le curseur est un pointeurqui indique un lien,généralement c'est une main*/
		opacity: 0.7;
	}

	/*section footer*/
.fot /* concerne l'alignement footer */
	
	{
		display: flex;
		margin-left: 55px;
	}

}